.news-section{
  .articles-list{
    flex-wrap: wrap;
    @include flex(row, center, center);
    @media(min-width: 720px){
      @include flex(row, center, space-between);
    }
    .article{
      min-width: 300px;
      width: 100%;
      flex: 1;
      margin-top: 1rem;
      margin-bottom: 2rem;
      @media(min-width: 720px){
        @include flex(row, center, space-between);
        margin-right:1rem;
        margin-left: 0;
        min-width: 45%;
        max-width: 45%;
      }
      .article-img-container {
        background-color: $primary-color;
        @media(min-width: 720px) {
          background-color: transparent;
        }
        img {
          max-height: 100%;
          max-width: 100%;
          display: block;
          margin: 0 auto
        }
      }
      .article-content-container{
        margin-left: 0.5rem;
        .article-title{
          font-size:$subtitle-size;
          margin-top: 0.4rem;
          margin-bottom: 0.4rem;
        }
        .article-content{
          text-align:justify;
          margin-top: 0;
          margin-bottom: -3px;
          font-size: $text-size;
          line-height: 1rem;
          max-height: 2rem;
          overflow: hidden;
          display: inline-block;
          max-width: 80%;

        }
        .read-next-link{
          margin-left: 2px;
          text-decoration: none;
          color: #0853D2;
          line-height: 1rem;
          font-size:$text-size;
          &:before{
            content:"\2026 "
          }
        }
      }
    }
  }
}
.full-article-container{
  .full-article{
    .article-img-container{
      width: 100vw;
      img{
        display: block;
        margin: 0 auto;
      }
    }
    .article-title{
      font-size: 36px;
      font-weight: bold;
      color: $primary-color;
    }
    .article-content{
      font-size:$text-size;
    }
    .picture{
      margin: 0 auto;
      display: block;
    }
    .description{
      text-align: center;
      display: block;
    }
  }
  .news-section{
    background-color: $primary-color;
    .other-articles{
      color:$secondary-text-color;
    }
    .article{
      @media(min-width: 720px){
        width: 27%;
        min-width: 275px;
      }
      .article-content-container{
        .article-title{
          color: $secondary-text-color;
        }
        .article-content{
          color:$secondary-text-color;
        }
        .read-next-link {
          color: $third-color;
          &:hover{
            color: $secondary-color;
          }
        }
      }
    }
  }
}
