.game-details-container{
  .back-to-game-list{
    margin-top: 1.1rem;
    margin-bottom: 1.1rem;
    span{
      padding-right: 0.5rem;
      color: $primary-color;
    }
  }
  .game-details{
    background-color: $primary-color;
    padding: 2rem;
    box-sizing: border-box;
    color: $third-color;
    .image-game-container{
      @include flex(row, center, space-around);

      .image-game{
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 90%;
        margin-left: 0.2rem;
        margin-bottom: 0.2rem;
      }
    }
  }
}