.game-container{
  .game-search{
    display: block;
    margin: 0 auto 5rem;
    padding-top:  3rem;
    min-width: 300px;
    width: 35%;
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid $primary-color;
    line-height: 2rem;
    font-size: 1rem;
    &::placeholder{
      color: rgba(57, 57, 57, 0.59);
    }
    &:focus{
      outline: none;
    }
  }
  ul{
    list-style:none;
    padding-left: 0;
    flex-wrap: wrap;
    @include flex(row, center, center);
    @media(min-width: 720px){
      @include flex(row, center, space-around);

    }

    .game-element-container{
      margin-bottom: 3rem;
      margin-right: 1rem;
      margin-left: 1rem;
      position: relative;
      width: 100%;
      padding: 1rem;
      background-image: url(http://lorempixel.com/400/200);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      @media(min-width: 720px) {
        max-width: 300px;
        width: 40%;
        &:hover .full-description-container{
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      }
      .full-description-container{
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .description-container{
          background-color: rgba(57, 57, 57, 0.9);

        }
        .description{
        }
        @media(min-width: 720px) {
          display: none;
        }
        .title-game{
          height: 3rem;
          width: 100%;
          background-color: $secondary-color;
          h1{
            width: 100%;
            margin-top: 0;
            padding-top: 1rem;
            padding-bottom: 1rem;
            line-height: 1rem;
            color:$secondary-text-color;
            text-align: center;
          }
        }
        .description{
          margin: 0;
          padding: 1rem 1rem 0 1rem;
          color: $secondary-text-color;
          font-size: $text-size;
          line-height: 1rem;
          max-height: 2rem;
          overflow: hidden;
          display: block;
        }
        .read-next-link{
          margin-right: 1rem;
          text-decoration: none;
          line-height: 1rem;
          font-size:$text-size;
          text-align: right;
          display: block;
          color: $third-color;
          &:before{
            content:"\2026 "
          }
        }
      }
    }
  }
}