{{> metaHeader title='Hitbox Makers' description="Hitbox est une communauté de création de jeu tourangelle."}} {{> header}}

<div class="white-text-container background-image-container" style="background-image: url('./assets/images/header_home.jpg'); background-position:center;">
    <div class="opacity"></div>
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <h1>Hitbox Makers</h1>
                <p>La communauté tourangelle autours de la création de jeux.</p>
            </div>

        </div>
    </div>
</div>


<div class="section-container background-color-container white-text-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="text-center">
                    <h1>Hitbox Makers Game Jam</h1>
                    <p>Notre prochain gros événement, un concours de création de jeu en 48h.
                        Les débutants sont bienvenus !</p>
                    <h2>Du 06 au 08 Avril 2018</h2>
                    <a href="https://www.helloasso.com/associations/palo-altours/evenements/hitbox-makers-jam-4" title="Inscription" class="btn btn-primary btn-lg text-uppercase" target="_blank">s'inscrire</a>
                    <br>
                    <i class="fa fa-caret-down" aria-hidden="true"></i><a href="#jam" title="infos" class="btn btn-secondary btn-lg text-success">plus d'informations</a><i class="fa fa-caret-down" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section-container border-section-container" id="event">
    <div class="container">
            <div class="row">
                <div class="col-md-12 section-container-spacer">
                    <div class="text-center">
                        <h2>Nos Évènements</h2>
                        <p> Étant une communauté de création de jeu, il faut bien se rencontrer pour créer des jeux et boire des coups.</p>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="fa-container">
                        <i class="fa fa-trophy fa-3x" aria-hidden="true"></i>
                    </div>
                    <div class="text-center">
                        <h3>Hitbox Makers Game Jam</h3>
                    </div>
                    <div>
                        <p>Concours de création de jeux en 48h.<br>
                        Créer un jeu en 48h ! seul ou en équipe dans une ambiance fun et détendu.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="fa-container">
                        <i class="fa fa-beer fa-3x" aria-hidden="true"></i>
                    </div>
                    <div class="text-center">
                        <h3>Hitbox Makers Apéro</h3>
                    </div>
                    <div>
                        <p>Tous les derniers mercredi du mois, nous nous regroupons pour discuter de nos créations, nos projets</p>
                    </div>
                </div>

            </div>
    </div>
</div>

<div class="section-container">
    <div class="container">
            <div class="row">
                <div class="col-xs-12">


                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img class="img-responsive" src="./assets/images/slider/slider_1.jpg">
                            </div>
                            <div class="item">
                                <img class="img-responsive" src="./assets/images/slider/slider_2.jpg">
                            </div>
                            <div class="item">
                                <img class="img-responsive" src="./assets/images/slider/slider_3.jpg">
                            </div>
                            <div class="item">
                                <img class="img-responsive" src="./assets/images/slider/slider_4.jpg">
                            </div>
                            <div class="item">
                                <img class="img-responsive" src="./assets/images/slider/slider_5.png">
                            </div>
                            <div class="item">
                                <img class="img-responsive" src="./assets/images/slider/slider_6.jpg">
                            </div>
                            <div class="item">
                                <img class="img-responsive" src="./assets/images/slider/slider_7.png">
                            </div>
                            <div class="item">
                                <img class="img-responsive" src="./assets/images/slider/slider_8.png">
                            </div>
                        </div>
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
                        </ol>
                    </div>


                </div>
            </div>
    </div>
</div>


<div class="section-container background-color-container white-text-container" id="jam">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="text-center">
                    <h2>Hitbox game jam #4</h2>
                    <hr>
                    <h3>Game jam du 06 avril 2018 à 19:30 au 08 avril 2018 à 22:00</h3>
                    <p> C'est une game jam du vendredi au dimanche !
                        Ce qui veut dire que vous venez pour créer un jeu vidéo ou un jeu de plateau seul ou en équipe le vendredi
                        et vous repartez avec un jeu ou un prototype de jeu le dimanche soir.
                        Le vendredi soir sera un moment convivial pour constituer une équipe autour d'un verre ou simplement parler création de jeu avant de se lancer.
                        Le samedi matin pour ceux que ça intéresse il y aura des ateliers pour lancer votre premier jeu.
                        Le dimanche on fait tout ce que l'on peut pour finir, et on fini en beauté autour d'un verre à nouveau afin de tester les jeux des uns et des autres tout en discutant de ce weekend de travail acharné. </p>
                    <p>Ce que nous vous fournissons pour bosser sur votre jeu :</p>
                    <ul class="features text-left text-success">
                        <li>De l'internet</li>
                        <li>Du courant</li>
                        <li>De quoi vous nourrir et boire le vendredi soir et le dimanche soir</li>
                        <li>Des gens disponibles pour vous aider durant le week-end</li>
                        <li>Un cadre créatif idéal pour faire des jeux</li>
                    </ul>
                    <strong class="text-danger">
                        <i class="fa fa-exclamation-triangle"></i> &nbsp;
                        Attention :
                    </strong>
                    <p>
                        Il ne sera pas possible de rester dormir sur place, prévoir un lieu de couchage
                        Pour la nourriture le reste du temps il y aura un frigo pour stocker votre nourriture au besoin
                    </p>
                    <hr>
                    <a href="https://www.helloasso.com/associations/palo-altours/evenements/hitbox-makers-jam-4" title="" class="btn btn-primary btn-lg text-uppercase">s'inscrire</a>
                </div>
            </div>
        </div>
     </div>
 </div>

 <div class="section-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Déroulement de la jam</h2>
            </div>

            <div class="col-md-12">
                <ul class="features">
                    <li>
                        <h3>Vendredi soir</h3>
                        <p>Le vendredi soir nous aurons de quoi manger et apprendre à se connaître, avant de se lancer dans la création de vos jeux.</p>
                        <p>Possibilité de venir en tant que visiteur, voir la billeterie</p>
                    </li>
                    <li>
                        <h3>Samedi Matin</h3>
                        <p>Un petit déjeuné, suivi de d'ateliers pour ceux qui voudraient apprendre à faire un jeu facilement.</p>
                    </li>
                    <li>
                        <h3>Dimanche</h3>
                        <p>Le matin toujours le petit déjeuné.</p>
                        <p>Le soir on range tout, et on teste les jeux !</p>
                        <p>Possibilité de venir en tant que visiteur le soir, voir la billeterie</p>
                    </li>
                </ul>
            </div>



            <div class="row">
                <div class="col-md-2 col-md-offset-3">
                    <img class="img-responsive page-base-image" src="./assets/images/Logo_HitboxMakers_Full_final.png" alt="">
                </div>
                <div class="col-md-2 col-md-offset-2">
                    <a href="https://paloaltours.org/">
                        <img class="img-responsive page-base-image" src="./assets/images/logo_paloaltours.jpg" alt="">
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>






{{> footer}}

{{> metaFooter}}