<article class="article">
    <div class="article-img-container" style="min-width: 100px; min-height: 100px;">
        <img src="../img/Logo_HitBoxMakers.png" alt="">
    </div>
    <div class="article-content-container">
        <h1 class="article-title">Title</h1>
        <p class="article-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad aut dicta eligendi,
            est eum fugiat in iste laboriosam perferendis perspiciatis quibusdam quod rem repudiandae rerum. Aperiam esse excepturi tempora? </p>
        <a href="./fullArticle.html" class="read-next-link">lire la suite</a>
    </div>
</article>