<li class="game-element-container" style="min-height: 200px;min-width: 200px; background-color: #393939">
    <div class="full-description-container">
        <div class="title-game">
            <h1>Title</h1>
        </div>
        <div class="description-container">
            <p class="description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid at atque esse exercitationem
                maiores nulla officiis quidem recusandae veniam! Aut fuga fugiat impedit nemo non perspiciatis
                repellat repellendus sequi sit.
            </p>
            <a href="./game-details.html" class="read-next-link">lire la suite</a>
        </div>
    </div>
</li>