<nav class="main-navigation">
    <div class="nav-logo-container">
        <a href="/index.html"><img src="../img/Logo_HitBoxMakers.png" alt=""></a>
    </div>
    <ul class="navigation-desktop">
        <li>
            <a href="/index.html">Accueil</a>
        </li>
        <li>
            <a href="/presentation.html">Présentation</a>
        </li>
        <li>
            <a href="/game.html">Jeux</a>
        </li>
        <li>
            <a href="/submission.html">Soumission</a>
        </li>
        <li>
            <a href="/diary.html">agenda</a>
        </li>
    </ul>
    <div class="navigation-mobile">
        <input type="checkbox">
        <span></span>
        <span></span>
        <span></span>
        <ul class="navigation">
            <li>
                <a href="/index.html">Accueil</a>
            </li>
            <li>
                <a href="/presentation.html">Présentation</a>
            </li>
            <li>
                <a href="/game.html">Jeux</a>
            </li>
            <li>
                <a href="/submission.html">Soumission</a>
            </li>
            <li>
                <a href="/diary.html">agenda</a>
            </li>
        </ul>
    </div>

</nav>
