<nav class="main-navigation">
    <div class="nav-logo-container">
        <a href="/index.html"><img src="../img/Logo_HitBoxMakers.png" alt=""></a>
    </div>
    <ul class="navigation">
        <li>
            <a href="/index.html">Accueil</a>
        </li>
        <li>
            <a href="/presentation.html">Présentation</a>
        </li>
        <li>
            <a href="/game.html">Jeux</a>
        </li>
        <li>
            <a href="/submission.html">Soumission</a>
        </li>
        <li>
            <a href="#">agenda</a>
        </li>
    </ul>
</nav>
