@import './commonStyle.scss';
@import './styles/article.scss';
@import './styles/presentation.scss';
@import './styles/game.scss';
@import './styles/submission.scss';
@import './styles/diary.scss';
@import './styles/game-details.scss';


body{
  .header-home{
    background-color: $primary-color;
    padding-top: 180px;
    padding-bottom: 100px;
    text-align: center;
    .into-Logo-container{
      text-align: center;
    }
    .presentation-container{
      width: 80vw;
      font-size: $subtitle-size;
      color: $third-color;
      text-align: center;
      margin: 3rem auto;
    }
    .diary-link{
      display: block;
      margin: 0 auto;
      text-align: center;
      font-size: $subtitle-size;
      width: 220px;
      padding: 0.6rem 0;
      border-radius: 3px;
      background-color: $third-color;
      color: $primary-color;
      text-decoration: none;
      cursor: pointer;
    }
  }
  .simple-button {
    display: inline-block;
    box-sizing: border-box;

    background-color: $secondary-color;
    border: none;
    border-radius: 3px;
    padding: 8px;
    margin: 0 auto;

    text-decoration: none;
    color:$third-color;
    font-size: 19px;
    line-height: 19px;
    font-weight: bolder;
    text-align: center;

    box-shadow: 2px 2px 5px #393939;
  }
  .news-section {
    & > .simple-button:last-of-type {
      margin-top: 20px;
    }
  }
}